<<<<<<< HEAD
#instructions {
    height: 200px;
}

#header {
    height: 100px;
}

#timerHeader {
    height: 100px;
}

#questionHeader {
    height: 100px;
}

#choices {
    height: 150px;
}

#total {
    height: 100px;
}
=======
#instructions {
    height: 200px;
}

#header {
    height: 100px;
}

#timerHeader {
    height: 100px;
}

#questionHeader {
    height: 100px;
}

#choices {
    height: 150px;
}

#total {
    height: 100px;
}
>>>>>>> c1d073f7d7e77b963d043b1aa65cc1fed31825a7
