#instructions {
    /* height: 200px; */
}

#header {
    height: 100px;
}

#timerHeader {
    height: 75px;
}

#questionHeader {
    /* height: 100px; */
}

#img {
    
    height: 250px;
}

#choices {
    /* height: 50px; */
}

#total {
    /* height: 100px; */
}







